# pycharm
.idea
.pytest_cache
__init__.py

# python
venv
.venv
__pycache__

# reports
allure-results
assets
pytest_report.html
pytest.log

# Mac OS
.DS_Store

my_work
.my_step.txt
passwords
screenshot
